<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.
    Author: Mingxi Zhou
    Email: mzhou@uri.edu
    Original template created by
        Author: Emir Cem Gezer
        Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="changeme"/>

    <node ns="$(arg robot_name)" pkg="mvp_helm" type="helm" name="helm" output="screen">
        <!--
            Load the parameters for the MVP Helm
        -->
        <rosparam
            command="load"
            file="$(find alpha_std_config)/mission/config/helm.yaml"/>

        <!--
            Load all the parameters for defined behaviors.
            robot name related variables, e.g., frame id and topics needs to be defined in here, otherwise could be defined in the YAML file
        -->
        <!-- load depth tracking behavior params -->
        <rosparam command="load" ns="depth_tracking" file="$(find alpha_std_config)/mission/param/depth_tracking.yaml"/>
        <!-- load periodic_surfacing behavior params -->
        <rosparam command="load" ns="periodic_surfacing" file="$(find alpha_std_config)/mission/param/periodic_surfacing.yaml"/>

        <!-- load path following related param -->
        <!-- following local path  -->
        <rosparam command="load" ns="path_local" file="$(find alpha_std_config)/mission/param/path_local.yaml"/>
        <param name="path_local/frame_id" value="$(arg robot_name)/odom"/>
        
        <!-- following a path defined by gps coordinate -->
        <rosparam command="load" ns="path_global" file="$(find alpha_std_config)/mission/param/path_global.yaml"/>
        <param name="path_global/frame_id" value="$(arg robot_name)/odom"/>

        <!-- gps_wpt behavior will convert gps coordinate (using fromLL service) into local coordinate and publish to the topic-->
        <rosparam command="load" ns="gps_wpt" file="$(find alpha_std_config)/mission/param/gps_wpt.yaml"/>
        <param name="gps_wpt/target_frame_id" value="$(arg robot_name)/odom"/>
        <param name="gps_wpt/target_topic" value="/$(arg robot_name)/helm/path_global/update_waypoints"/>
        <param name="gps_wpt/fromll_service" value="/$(arg robot_name)/fromLL"/>

    </node>

</launch>