<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="alpha_std"/>

    <!--
        List of the simulated worlds in the 'alpha_std_stonefish'
    -->
    <arg name="scenario" default="ocean"/>

    <include file="$(find alpha_std_stonefish)/launch/simulation.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="scenario" value="$(arg scenario)"/>
    </include>

    <!-- load urdf vehicle description -->
    <include file="$(find alpha_std_bringup)/launch/include/description.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- load localization setup -->
    <include file="$(find alpha_std_bringup)/launch/include/localization.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="is_sim" value="true"/>
    </include>

    <!-- load mvp_control parameters -->
    <include file="$(find alpha_std_bringup)/launch/include/control.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- load preconfigured rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find alpha_std_description)/rviz/config.rviz"/>

    <!-- bring up the helm -->
    <include file="$(find alpha_std_bringup)/launch/bringup_helm.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>


</launch>
